---
apiVersion: forklift.konveyor.io/v1beta1
kind: StorageMap
metadata:
  name: "{{ storagemap_name }}"
  namespace: "{{ migration_namespace }}" # openshift-mtv
spec:
  map:
{% for value in all_the_datastores.value %}
    - destination:
        storageClass: "{{ default_storage_class }}"
      source:
        id: {{ value.datastore }}
{% endfor %}

  provider:
    destination:
      name: host
      namespace: "{{ migration_namespace }}"
    source:
      name: vmware
      namespace: "{{ migration_namespace }}"
