---
apiVersion: forklift.konveyor.io/v1beta1
kind: NetworkMap
metadata:
  name: "{{ networkmap_name }}"
  namespace: "{{ migration_namespace }}"
spec:
  map:
{% for net_name in network_names %}
    - destination:
        type: pod
      source:
        name: {{ net_name }}
{% endfor %}

  provider:
    destination:
      name: host
      namespace: "{{ migration_namespace }}"
    source:
      name: vmware
      namespace: "{{ migration_namespace }}"
